# Ignore macOS system files
.DS_Store

# Ignore compiled binary files
myfirstprogram

# Ignore folders
Materials/
course_resources/
syllabus/

# Ignore specific directories
CS360/
CS380/
CS383/
PHYS201/
STAT202/
