# Ignore macOS system files
.DS_Store

# Ignore compiled binary files
myfirstprogram

# Ignore folders
Materials/
course_resources/
syllabus/

# Ignore specific directories


.DS_Store
CS283/.DS_Store
CS283/Materials/
CS283/course_resources/
CS283/syllabus/
CS360/
CS380/
CS383/
PHYS201/
STAT202/
